@font-face {
    font-family: volkov;
    src: url(fonts/Volkhov/Volkhov-Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

body{
    background-color: #161616;
    color: #FFF0F5;
}
canvas{
    background-color: #242424;
    border: 1px solid #660000;
    margin-top: 5%;
    float: right;
    margin-right: 5%;
    width: 450px;
    height: 450px;
    border-radius: 5px;
}
.input-area{
    margin-left: 5%;
    float: left;
    margin-top: 5%;
    background-color: #242424;
    border: 1px solid #660000;
    width: 600px;
    height: 450px;
    padding-left: 5%;
    border-radius: 5px;
}
.input-area #title{
    font-family: poppins;
    font-size: 40px;
    
}
.input-area .characteristic{
    font-family: poppins;
    font-size: 20px;
    
}
.input-area p{
    margin: 0;
}

#size-input, #color-input, #speed-input{
    margin-bottom: 40px;
    border-radius: 10px;
}
input{
    background-color: #bc0000;
    font-family: poppins;
    box-shadow: -3px 3px #131313;
}
button{
    background-color: #bc0000;
    font-family: poppins;
    border-radius: 10px;
    box-shadow: -3px 3px #131313;
}
#corner-pos{
    float: right;
    margin-right: 40%;
}
.switch {
    float: right;
    margin-right: 44%;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131313;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #bc0000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #131313;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }